 <form method="POST" action="{{ path_for('profile', {id:auth.user.id})}}">
    <div class="form-group">
        <label for="nameControlInput1">Full Name</label>
        <input type="text" name="name" class="form-control text-capitalize" id="nameControlInput1"  
        value="{{  auth.user.name }}">
    </div>

    <div class="form-group">
        <label for="nameControlInput1">Email</label>
        <input type="email" name="email" disabled class="form-control" id="emailControlInput1"  
        value="{{ auth.user.email }}">
    </div>

    <input type="hidden"  name="_METHOD" value="PUT" />

    {{ csrf.field | raw }}

    <button type="submit" class="btn btn-primary mb-2">Update</button>
</form>