{% extends 'template/app.twig' %}

{% block content %}

{% include 'template/partial/sidebar.twig' %}

<div class="col-md-8 offset-md-1 col-lay">

  {% block maincontent %}

  <h4>Profile</h4>

  <h6>{{ auth.user.name }}</h6>
  
  {% endblock %}

</div>
{% endblock %}