{% extends 'template/main.twig' %}

{% block maincontent %}

<h4>{{ project.title }}</h4>


<p>{{project.body}}</p>

<p>
<form class="form-control" method="post" action="{{ path_for('project.show',{id:project.id})}}">

{{ csrf.field | raw }}
<button type="submit" class="btn btn-primary">Download</button>
</form>

</p>



{% endblock %}