{% extends 'template/app.twig' %}

{% block content %}

{% include 'template/partial/sidebar.twig' %}

<div class="col-md-9 col-lay">

  {% block maincontent %}

    {% if auth.user.role == 1%}
        {% include 'dashboard/student/index.twig' %}
    {% endif %}
  
  {% endblock %}

</div>
{% endblock %}