
{% extends 'template/main.twig' %}

{% block maincontent %}

<h5 class="blockquote text-left text-success">Basic Information  </h5>

<p class="text-capitalize">Full Name:<strong> {{ student.name }}</strong></p>
<p class="text-capitalize">Student Number: <strong>{{ student.student_number }}</strong></p>
<p class="text-capitalize">Registration Number: <strong>{{ student.registration_number}}</strong></p>
<p class="text-capitalize">Course:<strong> {{ student.name }}</strong></p>


{% endblock %}